{% extends 'authBase.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<center><img style="width: 150px;height: auto;" class="img-responsive"
					src="{% static 'logos/mynk_ft.png' %}">
				<h5 class="">Register with Mynk</h3>
			</center>
		</div>
		<div class="col-md-10">
			<div class="card shadow">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<form action="{% url 'accounts:register'%}" method="post" class="form-group">
								{% csrf_token %}
								{{regForm|crispy}}
								<input type="submit" name="register" value="Register"
									class="btn btn-success btn-sm mt-1 mb-1">
							</form>
							<br>
							<a style="text-decoration: none;" href="{% url 'accounts:authenticate' %}"><small>Already
									have an account?</small></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}