{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-12">
            <div class="card shadow p-3 mb-1">
                <div class="card-body">
                    <center>
                        <h3>{{monthly_limit}} SEK</h3>
                        <small class="text-muted">Monthly Expense Limit</small>
                    </center>
                </div>
            </div>

            <div class="card shadow p-3 mb-4">
                <div class="card-body">
                    <center>
                        <h3>{{user.profile.monthly_savings}} SEK</h3>
                        <small class="text-muted">Monthly Savings</small>
                    </center>
                </div>
            </div>

            <div class="card shadow p-3 mb-5">
                <div class="card-body">
                    <h5>Alerts</h5>
                    {% if alerts %}
                        {% for alert in alerts %}
                            {% if alert.alert_message %}
                                <p class="text-justify"><b>AlertID #{{alert.id}}: {{alert.alert_message}}</b></p>
                            {% endif %} 
                        {% endfor %}
                     
                    {% else %}
                    <small class="text-justify">No new alerts</small>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <center>
                        <a href="{% url 'alerts:root' %}" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Manage alerts</a>
                    </center> 
                </div>
            </div>
        </div>

        <!--===========Left============================-->

        <div class="col-md-9 col-sm-12 col-12">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="card shadow p-3 mb-5">
                        <div class="card-body">
                            <h5>Expense Distribution</h5>
                            <div id="category-chart-container" style="width: 100%; height: 50%;" data-url="{% url 'dashboard:category-chart-data' %}"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="row justify-content-center">
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <center>
                                        <h4>{{spent}} SEK</h4>
                                        <h5>Spent</h5>
                                    </center>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <center>
                                        <h4>{{remaining}} SEK</h4>
                                        <h5>Remaining</h5>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <center>
                                        <h4>{{today}} SEK</h4>
                                        <h5>Today</h5>
                                    </center>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <center>
                                        <h4>{{daily_average}} SEK</h4>
                                        <h5>Daily Average</h5>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5><span class="badge badge-pill {{recommendation_badge}}">{{recommendation}}</span></h5>
                                    <small class="text-muted text-justify">{{recommendation_message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>

            <br><br>

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h4>
                        Categories
                        <span style="float: right;"><a class="btn btn-primary btn-sm mt-1 mb-1"
                                href="{% url 'category:add' %}"><i class="fas fa-plus"></i> Add</a></span>
                    </h4>
                    <hr>

                    <div class="row">
                        {% for category in categories %}
                        <div class="col-lg-3 col-md-12">
                            <div class="card">
                                <div class="card-body">

                                    <div style="float: right;">
                                        <span class="ml-1">
                                            <a href="{% url 'category:edit' category.name %}">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-pencil-fill" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            </a>
                                        </span>
                                        <span class="ml-1">
                                            <a href="{% url 'category:delete-confirm' category.name %}">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-trash-fill" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                                </svg>
                                            </a>
                                        </span>
                                    </div>

                                    <h5>{{category.name}}</h5>
                                    <p>{{category.value|floatformat:"0"}} SEK</p>


                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar {{category.get_progress_color}}" role="progressbar"
                                            style="width: {{category.calc_progress_percent}}%;"
                                            aria-valuenow="{{category.this_month}}" aria-valuemin="0"
                                            aria-valuemax="{{category.value}}">
                                            <font color="black" style="margin-left: 3px;">
                                                <b>{{category.this_month}}/{{category.value}}</b></font>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row justify-content-center mb-10">
                <div class="col-md-12">
                    <h4>
                        Expense Log
                        <span style="float: right;"><a class="btn btn-primary btn-sm mt-1 mb-1"
                                href="{% url 'expense_log:create' %}"><i class="fas fa-plus"></i> Add</a></span>
                    </h4>
                    <hr>

                    <div class="row" style="border-left: solid 2px#4bd6e5;">
                        {% for expense in expenseLogs %}

                        {% ifchanged expense.date %}
                        <div class="col-md-12 mb-3">
                            <div class="badge badge-pill badge-dark">
                                {{expense.date|date}}
                            </div>
                        </div>
                        {% endifchanged %}

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div style="float: right;">
                                        <span class="ml-1">
                                            <a href="{% url 'expense_log:edit' expense.id %}">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-pencil-fill" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            </a>
                                        </span>
                                        <span class="ml-1">
                                            <a href="{% url 'expense_log:delete-confirm' expense.id %}">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-trash-fill" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                                </svg>
                                            </a>
                                        </span>
                                    </div>

                                    <h5>
                                        {% if expense.attachment %}
                                        <a href="{{expense.attachment.url}}" target="_blank">
                                            <i class="fas fa-paperclip"></i> {{expense.amount}} SEK -
                                            {{expense.category}}
                                        </a>
                                        {% else %}
                                        {{expense.amount}} SEK - {{expense.category}}
                                        {% endif %}
                                    </h5>

                                    <p class="text-justify">{{expense.notes}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    $.ajax({
      url: $("#category-chart-container").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart("category-chart-container", data);
      }
    });
</script>

{% endblock %}