{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
            <div class="card shadow p-3 mb-5">
                <div class="card-body">
                    <center>
                        <img src="{{user.profile.image.url}}" style="max-width: 60%;height: auto;"
                            class="rounded-circle img-responsive">
                    </center>
                    <center>
                        <h2>{{user}}</h2>

                        <hr>
                        <a href="{% url 'accounts:edit' %}" class="btn btn-warning btn-sm mt-1 mb-1"
                            style="float: center;">Edit Profile</a>
                        <a href="{% url 'accounts:logout' %}" class="btn btn-danger btn-sm mt-1 mb-1"
                            style="float: center;">Logout</a>
                    </center>
                </div>
            </div>

            <div class="card shadow p-3 mb-5">
                <div class="card-body">
                    <center>
                        <h3>{{user.profile.monthly_limit}} SEK</h3>
                        <small class="text-muted">Monthly Expense Limit</small>
                    </center>
                </div>
            </div>

        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="row justify-content-center">

                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <center>
                                <h1>{{spent}}</h1>
                                <h3>Spent</h3>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <center>
                                <h1>{{remaining}}</h1>
                                <h3>Remaining</h3>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1>
                        Categories
                        <span style="float: right;"><a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'category:add' %}">Add</a></span>
                    </h1>   
                    <hr>

                    <div class="row">
                        {% for category in categories %}
                         <div class="col-md-4">
                             <div class="card">
                                 <div class="card-body">
                                     <center>
                                        <h3>{{category.name}}</h3>
                                        <p>{{cat_spent}}/{{category.value}}</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{cat_spent_per}}%;" aria-valuenow="{{cat_spent}}" aria-valuemin="0" aria-valuemax="{{category.value}}}"></div>
                                        </div>
                                     </center>
                                 </div>
                             </div>
                         </div>   
                        {% endfor %}
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1>
                        Expense Log
                    </h1>
                    <hr>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}